@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@theme {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #fbf5ee;
  --color-dark-100: #1a1a1a;
  --color-dark-200: #131313;
  --color-blue-50: #d3d3ff;
  --color-blue-100: #b8e3e9;
  --color-red-50: #ff7782;
  --color-red-100: #8f1b32;
  --color-orange-50: #ff5533;
  --color-orange-100: #d22f26;
}
body {
  background: #f5e5d5;
  overflow: hidden;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
